.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.cookie-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cookie-container > div {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 3vw;
  margin-top:7vh;
}
p{
  font-size: 2vw;
}
button {
  background-color: whitesmoke; /* Green */
  border: none;
  color: black;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.25vw;
  margin:5px;
  width:10vw;
  border-radius: 10px;
  transition-duration: 0.7s;
  transition-property: box-shadow, background-color;
}